// Color variables
$primary: gold;
$dark: #181818;
$light: #f8f8f8;
$grey: gainsboro;
$test: #00ffff40;

// Spacing variables
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 24px;
$space-6: 32px;
$space-7: 48px;
$space-8: 64px;
$space-9: 72px;
$space-10: 96px;

// Responsive variables
$mobile: 676px;
$desktop: 950px;

$br: $space-1;
$border: 1px solid black;
